__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/
.DS_Store
Thumbs.db
*.log
coverage.xml
nosetests.xml
coverage/
*.cover
*.py,cover
.hypothesis/
.tox/
.pytest_cache/
Pipfile
Pipfile.lock
poetry.lock
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.ipynb_checkpoints/
data/vacancies.json
data/test_vacancies.json
*.egg-info/
.eggs/
dist/
build/
htmlcov/
*.coverage
docker-compose.override.yml
docker-compose.local.yml
.env.local
.env.*
